# Preliminary EDA + First model

In [2]:
import pandas as pd
import numpy as np

In [3]:
df =  pd.read_csv("../data/version_01/pl_2019_2024_5gw.csv", index_col=0)

In [5]:
df.head(3)

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,win_rate_home,loss_rate_home,goals_scored_home,goals_conceded_home,win_rate_away,loss_rate_away,goals_scored_away,goals_conceded_away
0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10/08/2019,12:30,West Ham,Man City,0,5,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drop first 40 rows to remove nans and matches with few games in the analysis window.

In [7]:
df = df.iloc[40:]

In [8]:
df

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,win_rate_home,loss_rate_home,goals_scored_home,goals_conceded_home,win_rate_away,loss_rate_away,goals_scored_away,goals_conceded_away
40,14/09/2019,12:30,Liverpool,Newcastle,3,1,H,1.00,0.00,12.0,3.0,0.25,0.50,3.0,5.0
41,14/09/2019,15:00,Brighton,Burnley,1,1,D,0.25,0.50,4.0,7.0,0.25,0.50,5.0,6.0
42,14/09/2019,15:00,Man United,Leicester,1,0,H,0.25,0.25,7.0,4.0,0.50,0.00,6.0,3.0
43,14/09/2019,15:00,Sheffield United,Southampton,0,1,A,0.25,0.25,5.0,5.0,0.25,0.50,4.0,6.0
44,14/09/2019,15:00,Tottenham,Crystal Palace,4,0,H,0.25,0.25,7.0,6.0,0.50,0.25,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1718,12/01/2024,19:45,Burnley,Luton,1,1,D,0.20,0.60,5.0,8.0,0.40,0.60,10.0,11.0
1719,13/01/2024,12:30,Chelsea,Fulham,1,0,H,0.60,0.40,8.0,7.0,0.40,0.60,7.0,9.0
1720,13/01/2024,17:30,Newcastle,Man City,2,3,A,0.20,0.80,7.0,12.0,0.60,0.20,9.0,5.0
1721,14/01/2024,14:00,Everton,Aston Villa,0,0,D,0.40,0.60,6.0,8.0,0.60,0.20,9.0,7.0
1722,14/01/2024,16:30,Man United,Tottenham,2,2,D,0.20,0.60,4.0,9.0,0.80,0.20,13.0,7.0